.container {
  height: 100vh;
}

.image {
  color: blue;
  position: relative;

  width: 50px;
  display: flex;
  justify-content: center;
}

.image::before {
  content: attr(seatNumber);
  position: absolute;
  width: 1rem;
  aspect-ratio: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transform: translate(50%, 50%);
  right: 50%;
}

/* .selectSeat {
  overflow: hidden;
  height: 100%;
} */

.container > div {
  height: 100%;
}
